@charset "utf-8";

/* bgcolor */
.bgcolor01{background-color: #fff;}
.bgcolor02{background-color: #313131;}
.bgcolor03{background-color: #d93535;}
.bgcolor04{background-color: #1E90FF;}

/* color */
.color01{color: #fff;}
.color02{color: #313131;}
.color03{color: #d93535;}
.color04{color: #1E90FF;}

/* border-color */
.bcolor01{border-color: #fff}
.bcolor02{border-color: #313131;}
.bcolor03{border-color: #d93535;}
.bcolor04{border-color: #1E90FF;}
.bcolor05{border-color: #cacaca;}