@charset "utf-8";
/* rem */
.h3{height: 3rem;}
.h4{height: 4rem;}
.h6{height: 6rem;}
.lh2{line-height: 2rem;}
.lh3{line-height: 3rem;}
.lh4{line-height: 4rem;}
/*   百分比  */
.hp25{height: 25%;}
.hp50{height: 50%;}
.hp100{height: 100%;}
/* line-height */
.lhp100{line-height: 100%;}

/* min-height */
.minH3{
    min-height: 3rem;
}

