@charset "utf-8";

/**
 * 公共图标
 */
.icon {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../../images/icon/icon.png);
    background-repeat: no-repeat;
    background-size: 25rem 25rem;
}

.footer_icon {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../../images/icon/footer.png);
    background-repeat: no-repeat;
    background-size: 15rem 15rem;
}

/* icon 宽高 */
.icon2_5{
    width: 2.5rem;
    height: 2.5rem;
}

/*返回按钮 left small*/

.back-icon {
    background-position: 0 0;
    width: 1.3rem;
    height: 2rem;
}


/*按钮 right small*/
.arrow_right_icon {
    background-position: 0 0;
    width: 1.3rem;
    height: 2rem;
    transform: rotate(180deg);
}

/* 底部按钮 */
.home_icon{
    background-position: .2rem .2rem;
}
/*.home_icon_active{
    background-position: -2.6rem 0;
}*/
.product_icon{
    background-position: .2rem -2.3rem;
}
.person_icon{
    background-position: .2rem -7.5rem;
}