@charset "utf-8";

/*  margin  */
.m_1{margin: .1rem;}
.m1{margin: 1rem;}

/* margin-left */
.ml_1{margin-left: .1rem;}
.ml_5{margin-left: .5rem;}
.ml1{margin-left: 1rem;}


/* margin-right */
.mr_1{margin-right: .1rem;}
.mr_5{margin-right: .5rem;}
.mr1{margin-right: 1rem;}

/* margin-top */
.mt_1{margin-top: .1rem;}
.mt_5{margin-top: .5rem;}
.mt1{margin-top: 1rem;}

/* margin-bottom*/
.mb_1{margin-bottom: .1rem;}
.mb1{margin-bottom: 1rem;}
.mb2{margin-bottom: 2rem;}
