@charset "utf-8";

/*  padding  */
.p_1{padding: .1rem;}
.p1{padding: 1rem;}

/* padding-left */
.pl_1{padding-left: .1rem;}
.pl1{padding-left: 1rem;}
.pl1_5{padding-left: 1.5rem;}


/* padding-right */
.pr_1{padding-right: .1rem;}
.pr1{padding-right: 1rem;}
.pr1_5{padding-right: 1.5rem;}

/* padding-top */
.pt_1{padding-top: .1rem;}
.pt_5{padding-top: .5rem;}
.pt1{padding-top: 1rem;}

/* padding-bottom*/
.pb_1{padding-bottom: .1rem;}
.pb_5{padding-bottom: .5rem;}
.pb1{padding-bottom: 1rem;}

