@charset "utf-8";
/* @font-face {
    font-family: 'HiraginoSansGBMy';
    src: url('../../fonts/HiraginoSansGB/HiraginoSansGBW3.otf');
    src:url('../../fonts/HiraginoSansGB/HiraginoSansGBW3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */
body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Microsoft YaHei", "微软雅黑", SimHei, "Arial", "宋体", "Times New Roman", Times, serif;
    -webkit-appearance: none;
    border-radius: 0;
}

/* body.myfont,
.myfont button,
.myfont input,
.myfont select,
.myfont textarea,
.myfont h1,
.myfont h2,
.myfont h3,
.myfont h4,
.myfont h5,
.myfont h6 {
    font-family: "HiraginoSansGBMy","Microsoft YaHei", "微软雅黑", SimHei, "Arial", "宋体", "Times New Roman", Times, serif;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

html,
body {
    /*overflow: hidden;*/
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    height: 100%;

}

/**
 * [padding 取消特定标签的间距，列表样式]
 * @type {Number}
 */

* {
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    -moz-outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    /* Safari */
}

select,
select:focus,
input[type='text'],
input[type='tel'],
input[type='date'],
input[type='password'] {
    border: none;
}

input:required:invalid,
input:focus:invalid,
textarea:required:invalid,
textarea:focus:invalid {
    box-shadow: none;
}

input,
button,
select,
textarea {
    outline: none;
    border: none;
}

button {
    background: transparent;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    resize: none;
}

b,i {
    font-weight: normal;
}

#contents {
    /* padding-top: 4.4rem; */
    overflow: auto;
    height: 100%
}

/**
 * [clearfix 清浮动]
 * @type {[type]}
 */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.clearfix {
    display: block;
    zoom: 1
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.ime {
    ime-mode: disabled;
}

/**
 * [display 影藏，显示]
 * @type {[type]}
 */

.hide {
    display: none !important;
}

.block {
    display: block !important;
}

.none {
    display: none;
}

.inline-block {
    display: inline-block;
}

.hidden,
.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/**
 * 取消a 点击时的边框
 */

a {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

/**
 * 超出省略
 */

.ws {
    overflow: hidden;
    word-wrap: normal;
    word-break: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/**
 * 定位
 */

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.pf {
    position: fixed;
}

.fixed {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%
}

/**
 * [input 取消input点击的时候的默认外框]
 * @type {[type]}
 */

input:focus,
button,
button:focus {
    outline: none;
    -moz-outline: none;
    -webkit-tap-highlight-color: transparent;
    /*  border: none; */
    /*   box-shadow: none; */
}

/**
 * 居中  靠右  靠左
 */

.tc {
    text-align: center;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

/**
 * vertical-align
 */

.vt {
    vertical-align: top;
}

.vm,
img {
    vertical-align: middle;
}

.vb {
    vertical-align: bottom;
}

/****************list*************/

/**
 * flex布局
 */

/**
 * flex布局
 */

.flex {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: box;
    /* OLD - Android 4.4- */
}

.layout_flex_field {
    flex: 1;
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
}

/*标签tag*/

.hyh-tag {
    box-sizing: border-box;
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    box-orient: vertical;
    flex-direction: column;
    flex-shrink: 0;
    align-items: stretch;
    box-align: stretch;
    align-content: flex-start;
    position: relative;
}

.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    box-orient: horizontal;
    flex-direction: row;
}

.flex-item-center {
    /* 09版 */
    -webkit-box-align: center;
    /* 12版 */
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.flex-justify-center {
    -webkit-box-pack: center;
    /*主轴对齐方式 旧写法*/
    -webkit-justify-content: center;
    justify-content: center;
}

.flex-item-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.flex-justify-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.flex-item-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.flex-justify-start {
    -webkit-box-pack: start;
    justify-content: flex-start;
    justify-content: flex-start;
}

.nobor {
    border: none;
}

.nobg {
    background: none;
}

.fbold {
    font-weight: bold;
}

.oh {
    overflow: hidden;
}

.oa {
    overflow: auto;
}

.max750 {
    max-width: 750px;
    margin: 0 auto;
}

.table {
    display: table;
}

.tableCell {
    display: table-cell;
    vertical-align: middle;
}

/* 居中 */

.ts-center {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.ipt-filter.on::after {
    display: inline-block;
}

/* 去闪 */

[v-cloak] {
    display: none;
}

.down_btn {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
}

/* 底部 start */

.down_nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 5rem;
    overflow: hidden;
    z-index: 7;
    -moz-box-shadow: -5px 0 13px rgba(200, 200, 200, 0.4);
    -webkit-box-shadow: -5px 0 13px rgba(200, 200, 200, 0.4);
    box-shadow: -5px 0 13px rgba(200, 200, 200, 0.4);
    max-width: 750px;
    margin: 0 auto;
}

/**
 * lff  create
 * 佣金明细页  头部选中效果横线动画
 * @type {[type]}
 */
.contentHead .lineActive {
    position: relative;
}

.contentHead .lineActive::before {
    content: "";
    display: inline;
    position: static;
    background-image: none;
}

.contentHead .lineActive::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    border: 0;
    background-color: #fe4442;
    -ms-animation: zoomIn .5s both;
    -moz-animation: zoomIn .5s both;
    -webkit-animation: zoomIn .5s both;
    -o-animation: zoomIn .5s both;
    animation: zoomIn .5s both
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1);
        transform: scale3d(.1, .1, .1)
    }
    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1);
        -ms-transform: scale3d(.1, .1, .1);
        transform: scale3d(.1, .1, .1)
    }
    50% {
        opacity: 1
    }
}

/*
    刘飞飞 create  12.26
  内容上下左右居中
*/